@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Urbanist:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Urbanist", sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.btn {
  cursor: pointer;
}
.container {
  max-width: 104rem;
  padding: 0rem 1.5rem;
  margin: 0 auto;
}
