@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Urbanist:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Urbanist", sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.btn {
  cursor: pointer;
}
.container {
  max-width: 124rem;
  padding: 0rem 1.5rem;
  margin: 0 auto;
}
.section {
  margin-top: 10rem;
}

/* header */
.header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/Banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.nav {
  width: 100%;
  height: 10rem;
  transition: all 0.3s ease;
}
.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_logo_img {
  max-width: 60%;
}
.nav_list {
  display: flex;
  align-items: center;
}
.nav_item {
  margin: 0rem 0.7rem;
}
.nav_link {
  color: #fff;
  font-weight: 400;
  padding: 0.5rem 0.7rem;
}
.nav_btn {
  margin-left: 2rem;
  color: #fff;
  font-weight: 500;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}
.header_wrapper {
  width: 100%;
  height: calc(100vh - 10rem);
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  text-align: center;
}
.header_secondary_title {
  margin-bottom: 1.5rem;
  color: #fff;
  font-weight: 400;
}
.header_main_title {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #fff;
}
.header_btn {
  display: flex;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto;
}
.header_btn > span {
  margin-left: 1.5rem;
  color: #fff;
}

/* about */
.about_container {
  width: 100%;
}
.about_header {
  width: 100%;
  text-align: center;
}
.about_header_p {
  width: 50%;
  margin: 0 auto;
}
.about_header_secondary_title {
  color: #97a483;
}
.about_header_primary_title {
  margin: 1.2rem 0rem;
  font-size: 3rem;
  font-weight: 700;
}

.icon_boxes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
  margin-top: 6rem;
}
.icon_box {
  text-align: center;
}
.icon {
  width: 25%;
}
.icon_p {
  margin-top: 1rem;
  font-weight: 500;
}

.about_cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-gap: 3rem;
  margin-top: 6rem;
}
.card_img {
  width: 100%;
}
.card_title {
  margin: 1.2rem 0rem;
}

/* activity */
.activity_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
}
.activity_img {
  max-width: 80%;
}
.about_header_primary_title_2 {
  margin-bottom: 5rem;
  font-size: 3.6rem;
}
.activity_right {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
}
.icon_box_2 {
  text-align: left;
}
.icon_box_margin_top {
  margin-top: 4rem;
}

/* bonfire */
.bonfire {
  width: 100%;
  height: 80vh;
  background-image: url(../images/bonfire.png);
  background-size: cover;
  background-position: center center;
}
.bonfire_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bonfire_container > span {
  text-align: center;
}
.bonfire_title {
  font-size: 4.2rem;
  color: #fff;
  margin-bottom: 4rem;
}
.bonfire_btn {
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  padding: 1.3rem 3rem;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

/* booking */
.booking_cards {
  margin-top: 6rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 3rem;
}
.booking_card {
  width: 100%;
}
.booking_img {
  width: 100%;
}
.booking_title {
  margin: 2rem 0rem;
  color: #345e40;
}
.booking_p {
  margin-bottom: 2rem;
}
.booking_btn {
  border: none;
  outline: none;
  padding: 1rem 2.2rem;
  background-color: #345e40;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

/* blog */
.blog_header_title {
  color: #97a483;
}
.blogs {
  margin-top: 6rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
}
.blog_img {
  width: 100%;
}
.blog_title {
  margin: 2rem 0rem;
}
.blog_link {
  font-weight: 600;
  color: #97a483;
}
.footer {
  margin-top: 10rem;
  width: 100%;
  height: 5rem;
  background-color: #345e40;
}
.footer_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_p {
  color: #fff;
}
.menu_icon {
  display: none;
  cursor: pointer;
}
.w-6 {
  width: 4rem;
  fill: #fff;
}
.mobile_nav_list {
  position: absolute;
  z-index: 99;
  display: none;
  width: 100%;
  background-color: #3f3f3f;
  padding: 2rem 0rem;
  transition: all 0.4s ease;
}
.mobile_nav_item {
  padding: 1rem 2rem;
}
.mobile_nav_link {
  color: #fff;
}
.mobile_nav_btn {
  margin-top: 2rem;
  color: #fff;
  font-weight: 500;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}
.mobile_nav_link_last {
  margin-bottom: 2rem;
}
.mobile_nav_toggle {
  margin-top: -100rem;
}
@media only screen and (max-width: 720px) {
  .nav {
    background-color: #3f3f3f;
    height: 9rem;
  }
  .nav_list {
    display: none;
  }
  .menu_icon {
    display: block;
  }
  .mobile_nav_list {
    display: block;
  }
}
